.school-select {
    animation-duration: .6s;
    animation-name: slidein;
}

.additional-input {
    animation-duration: .6s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: -100%;
        width: 100%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}