.input-post-title {
    animation-duration: .5s;
    animation-name: slideIn;
}

@-webkit-keyframes slideIn {
    from {
        margin-left: -100%;
        width: 100%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}
