.start-button {
    animation-duration: 2s;
    animation-name: fadeIn;
}

.logo {
    animation-duration: 2s;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        width: 100%
    }

    to {
        opacity: 1;
        width: 100%;
    }
}