
.search-text-container {
    animation-duration: .3s;
    animation-name: slidedown;
}

@-webkit-keyframes slidedown {
    from {
        margin-top: -30px;
    }

    to {
        margin-top: -8px;
    }
}

@-webkit-keyframes slideup {
    from {
        margin-top: -8px;
    }

    to {
        margin-top: -30px;
    }
}
