
.search-text-container {
    animation-duration: .5s;
    animation-name: slideDown;
}

.guestInfo {
    animation-duration: .5s;
    animation-name: fadeIn;
}


@-webkit-keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        width: 100%
    }

    to {
        opacity: 1;
        width: 100%;
    }
}